*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
.gitignore
.idea/codeStyles/Project.xml
.idea/encodings.xml
.idea/misc.xml
.idea/runConfigurations.xml
app/.gitignore
app/build.gradle
app/libs/
app/proguard-rules.pro
app/src/androidTest/
app/src/main/AndroidManifest.xml
app/src/main/java/com/app/healthybee/ui/login/MainActivity.kt
app/src/main/res/drawable-nodpi/
app/src/main/res/drawable-v24/
app/src/main/res/drawable/ic_launcher_background.xml
app/src/main/res/layout/activity_main.xml
app/src/main/res/mipmap-anydpi-v26/
app/src/main/res/mipmap-hdpi/
app/src/main/res/mipmap-mdpi/
app/src/main/res/mipmap-xhdpi/
app/src/main/res/mipmap-xxhdpi/
app/src/main/res/mipmap-xxxhdpi/
app/src/main/res/values/
app/src/test/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
